<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" wsaVersion="NONE" type="wsdl" soapVersion="1_2" name="Test_serviceSoap12" id="cd2f7d77-8aa5-4c30-a4ce-0f3e8a1baafc" definition="http://rapis02.aqa.com.ru/SOAP/Service1.asmx?WSDL" bindingName="{http://localhost/test_service/Service1.asmx}Test_serviceSoap12" anonymous="optional" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="cd2f7d77-8aa5-4c30-a4ce-0f3e8a1baafcfileName">Test_serviceSoap12</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://rapis02.aqa.com.ru/SOAP/Service1.asmx</con:endpoint>
  </con:endpoints>
</con:interface>
